@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
@import "tailwindcss";

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: "Roboto Mono", monospace;
		background-color: #050a14;
		color: #ccd6f6;
	}
}